<!doctype html>

<html lang="en">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.1/jquery.twbsPagination.min.js"></script>
    <link rel="stylesheet" href="../../../style/pagination.css">
    <link rel="stylesheet" href="../../../style/recommendations.css">

    <script src="../../../javascript/jquery-3.3.1.js"></script>
    <script src="../../../javascript/pagination.js"></script>
    <script src="../../../javascript/recommendations.js"></script>

    <title>Search Results</title>
    <p id="title">Results</p>
    <hr width="75%" id="sep" />
</head>

<body>

    <div id="resultsContainer">

        <p id="artistLabel" class="search-label">Artists you've listened to:</p>

        <div class="data-container" id="artistDataContainer"></div>
        <div id="artistPages"></div>

        <p id="tagLabel" class="search-label">Your tags:</p>

        <div class="data-container" id="tagDataContainer"></div>
        <div id="tagPages"></div>

        <p id="friendLabel" class="search-label">Your friends:</p>

        <div class="data-container" id="friendDataContainer"></div>
        <div id="friendPages"></div>


        <p id="showRec" class="search-label">Show recommended artists   &#x25B6; </p>
        <div id="hiddenRecs">
            <div class="data-container" id="artistRecDataContainer"></div>
            <div id="artistRecPages"></div>
        </div>

    </div>


    <div style="display: none;" id="artistsInDOM">
        {{#each artists}}
        <div id="artist{{artistID}}" class="artistItem">
            <div class="card">
                <div class="card-header">{{name}}</div>
                <div class="card-block artist-block">
                    <div class="artist-result">

                        <a href="{{url}}" class="artist-text" target="_blank">{{name}}</a>

                        <div class="artist-text">

                            <div class="tag-container">
                               <label>Tags:</label>
                               <span class="tags">{{tags}}</span>
                                <button data-artist-id="{{artistID}}" class="edit-tags-button">Edit</button>
                            </div>
                            <!-- TODO -->

                        </div>

                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>


    <div style="display: none;" id="tagsInDOM">
        {{#each tags}}
        <div id="tag{{@index}}" class="tagItem">
            <div class="card">
                <div class="card-header">{{name}}</div>
                <div class="card-block tag-block">
                    <div class="tag-result">

                        <span class='inner-text tag-info'><a href="{{url}}" target="_blank">{{name}}</a>:  {{tagValue}} </span>
                        <span class='inner-text date'> {{date}} </span>

                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>


    <div style="display: none;" id="friendsInDOM">
        {{#each friends}}
        <div id="friend{{@index}}" class="tagItem">
            <div class="card">
                <div class="card-block friend-block">
                    <div data-friend-id="{{friendID}}" class="friend-result">

                        <span class='inner-text'>Friend ID: {{friendID}} </span>

                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>


    <div style="display: none;" id="artistsRecInDOM">
        {{#each artistsRec}}
        <div id="artist{{artistID}}" class="artistRecItem">
            <div class="card">
                <div class="card-header">{{aname}}</div>
                <div class="card-block artist-block">
                    <div class="artist-rec-result">

                        <a href="{{url}}" class="artist-rec-text" target="_blank">{{aname}}</a>

                        <div class="artist-rec-text">

                            <div class="tag-container">
                               <label>Tags:</label>
                               <span class="tags">{{tags}}</span>
                                <button data-artist-id="{{artistID}}" class="edit-tags-button">Edit</button>
                            </div>
                            <!-- TODO -->

                        </div>

                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

        <!--
        <div class="artist-result">
            <a href="http://www.last.fm/music/Michael+Jackson" class="artist-text" target="_blank">Michael Jackson</a>

            <div class="artist-text">
                <label>Tags:</label>
                <span class="tags">pop, 80s, michael jackson, soul, dance, funk</span>
                <button class="edit-tags-button">Edit</button>
            </div>

        </div>
        -->

    <div id="songdetails"></div>
    <br/>
    <ul id="song-pagination" class="pagination-sm"></ul>
    </div>
    </script>
    <br/>
    <div id="resultPlaceholder">
    </div>

</body>

</html>
